.navbar
{
    background-color: #F4F4F4;
}
.navbar-light .navbar-nav .nav-link 
{
    color: #191970;
    font-size: 20px;
}
.navbar-light .navbar-nav .nav-link:hover
{
  text-decoration: underline;
}